function Boss.drawstageone 2
push constant 512
push constant 3
call Math.multiply 2
push constant 10
add
pop local 1
push constant 16384
push local 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28704
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 28680
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32516
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 17378
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 20465
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24569
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 24569
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16355
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31747
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 509
add
pop local 0
push local 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 28672
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32258
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28673
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 25
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7684
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28674
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 121
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32765
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 509
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 61
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 5
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32543
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 25
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15361
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 13
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 29
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 25
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 57
call Memory.poke 2
pop temp 0
push local 0
push constant 509
add
pop local 0
push local 0
push constant 0
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 25088
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 29184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29184
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 6272
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 25472
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 9088
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 2041
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 4089
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 30735
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30735
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16865
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16385
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8193
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 14341
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1025
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31743
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32255
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15992
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 16258
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16356
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16323
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8133
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 9
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 25
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16436
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32756
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32737
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 961
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 67
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 131
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 263
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 30969
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 57
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 57
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 49
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 113
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 113
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 115
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 99
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 227
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 231
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 231
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 455
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 455
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 463
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 911
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 908
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 920
call Memory.poke 2
pop temp 0
push local 0
push constant 509
add
pop local 0
push local 0
push constant 0
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 16248
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12223
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 10175
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 10207
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 9152
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 9184
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 56
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 56
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 120
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 15865
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15865
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1031
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1063
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 2087
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3993
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8089
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28671
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28671
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31744
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3600
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3584
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7171
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 509
add
pop local 0
push constant 0
return
function Boss.draw32monster 1
push constant 16384
push argument 1
add
pop local 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 12348
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 12348
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12348
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12348
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE0
push argument 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15376
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15376
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4035
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4035
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 15364
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15364
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15364
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15364
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 16323
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16323
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16323
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16323
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16383
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE1
push argument 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15568
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15568
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3267
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3267
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 15604
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15604
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15604
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15604
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 244
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 244
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 12483
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 12483
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12483
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12483
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12543
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12543
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE2
push argument 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16324
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16324
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15612
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15612
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15408
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12336
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 12336
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15372
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15363
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15363
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16188
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16188
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3132
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15564
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15564
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 780
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 780
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15420
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 13116
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 13116
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12480
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 12480
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4080
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
label IF_FALSE3
push constant 0
return
function Boss.drawstagetwo 0
push constant 0
push constant 2
push constant 512
call Math.multiply 2
push constant 9
add
call Boss.draw32monster 2
pop temp 0
push constant 1
push constant 2
push constant 512
call Math.multiply 2
push constant 13
add
call Boss.draw32monster 2
pop temp 0
push constant 2
push constant 6
push constant 512
call Math.multiply 2
push constant 9
add
call Boss.draw32monster 2
pop temp 0
push constant 3
push constant 6
push constant 512
call Math.multiply 2
push constant 13
add
call Boss.draw32monster 2
pop temp 0
push constant 0
return
